/__pycache__
/detections_hdfs
/dist
/EQTransformer/__pycache__
/EQTransformer/core/__pycache__
/geo-files
/json2/
/geo-files_no
/geo-files_ru
/geo-files_da
/geofiles
/metadata
/geo-files_processed_hdfs
/preproc
/json
/data_processors/__pycache__
/build
/geo-files-association
time_tracks.pkl
/geo_detections_hdfs
/datastore
/data-in-memory
updates.md
CLAUDE.MD
*.xlsx
data-in-memory